<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/utils/icon/envira-brands-solid.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/styles/login.css" />
    <title>Login - Image-Gallery</title>
  </head>
  <body>
    <div class="main-container">
      <h1>Login to Image-Gallery</h1>
      <div class="login-buttons">
        <a href="/google/auth/google"
          ><button class="google-button">
            <img
              src="../utils/icon/google-icon-logo-svgrepo-com.svg"
              alt="google icon"
              style="width: 20px; height: 20px; border-radius: 50%"
            />Login with Google
          </button></a
        >
      </div>
      <p class="redirect-text">New way To Store! 📸</p>
    </div>
  </body>
</html>
